# Default ignored files
/../../../:JavaLearning/.idea/shelf/
/../../../:JavaLearning/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:JavaLearning/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:JavaLearning/.idea/dataSources/
/../../../:JavaLearning/.idea/dataSources.local.xml
